<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head.ejs') %>
</head>
<body>

        <header>
            <h1>What is Scrum?</h1>
        </header>

        <hr>
        <%- include('partials/nav.ejs') %>

        <br>
        <br>

        <div class="quote-box">
            <h2>Quote of the Day</h2>

            <p>"<%= quote.body %>"</p> 
            <p>- <%= quote.by %></p>
        </div>

        <figure>
            <img src="img/scrum_artifacts.jpg" alt="Scrum Artifacts" id="scrum_artifacts">
        </figure>

            <ul>
                <li><span class="what_is">What is an artifact? </span>: An artifact means work or value. It varies depending on what progress is measured.</li>
                <li><span class="what_is">Product backlog</span>: The artifact that is measured, or the work that is being measured is the Product Goal.</li>
                <li><span class="what_is">Sprint backlog</span>: The artifact that is measured, or the work that is being measured is the Sprint Goal.</li>
                <li><span class="what_is">Increment</span>: For the increment, the artifact is the “Definition of Done”.</li>
            </ul>
            <p>
            <h2>Citations:</h2><br>
            <a href="https://scrumguides.org/scrum-guide.html" target="_blank">
            Schwaber, Ken, and Jeff Sutherland. "The Scrum Guide: The Definitive Guide to Scrum: The Rules of the Game." Nov. 2020, https://scrumguides.org/scrum-guide.html.
            </a>
            <br>
            <a href="https://www.6sigmacertificationonline.com/what-is-scrum/4" target="_blank">
            Six Sigma Global Institute. “What Is Scrum?” <em>Six Sigma Certification Online</em>, https://www.6sigmacertificationonline.com/what-is-scrum/4.
            </a>
    
<%- include('partials/footer.ejs') %>
        
    </body>
</html>
