<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head.ejs') %>
</head>
<body>
      <header>
            <h1>What is Scrum?</h1>
        </header>

        <hr>

        <%- include('partials/nav.ejs') %>

        <br>
        <br>

        <div class="quote-box">
            <h2>Quote of the Day</h2>

            <p>"<%= quote.body %>"</p> 
            <p>- <%= quote.by %></p>
        </div>
<main>
        <div class="top">

            <div class="scrum_text">
                <p> Erin is a student at CSU Monterey Bay and a Senior Executive Assistant at Pinger, Inc.</p>
            </div>

            <figure>
                <img src="img/Erin_Photo.jpg" alt="Author_Photo" id="Author_Photo">
            </figure>


        </div>

        </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>
