<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head.ejs') %>
</head>
<body>
      <header>
            <h1>What is Scrum?</h1>
        </header>

        <hr>

        <%- include('partials/nav.ejs') %>

        <br>
        <br>

        <div class="quote-box">
            <h2>Quote of the Day</h2>

            <p>"<%= quote.body %>"</p> 
            <p>- <%= quote.by %></p>
        </div>

        <figure>
            <img src="img/scrum_team_roles.png" alt="Scrum Team Roles" id="scrum_team_roles">
        </figure>

        <div id="content">
            <table>
                <tr id="table-header">
                    <td><strong>Role</strong></td>
                    <td><strong>Responsibilities</strong></td>
                </tr>
                <tr class="table-row">
                    <td>Scrum Master</td>
                    <td>The person responsible for the team’s effectiveness. They coach team members, 
                        remove obstacles for the team, keep everyone on time, and coordinate with stakeholders.</td>                
                <tr class="table-row">
                    <td>Product Owner</td>
                    <td>The person responsible for maximizing the value of the product that the Scrum
                         Team works on. They come up with the Product Goal and create product backlog items.</td>
                </tr>
                <tr class="table-row">
                    <td>Developers</td>
                    <td>The people doing the work! They are responsible for creating a plan for the
                        Sprint, adapting as needed, and are responsible for the quality of their output.</td>
                </tr>
            </table>

            <br>
            <br>
            <p>
                <p>
            <h2>Citations:</h2><br>
            <a href="https://kitchen.co/blog/scrum-roles/" target="_blank">
            Mohamed, Aleksandar. “The 3 Scrum Roles and Responsibilities Explained in 3 Minutes.” <em>Kitchen.co</em>, https://kitchen.co/blog/scrum-roles/.
            </a>
            <br>
            <a href="https://scrumguides.org/scrum-guide.html" target="_blank">
            Schwaber, Ken, and Jeff Sutherland. "The Scrum Guide: The Definitive Guide to Scrum: The Rules of the Game." Nov. 2020, https://scrumguides.org/scrum-guide.html.
            </a>
        </div>

    <%- include('partials/footer.ejs') %>
</body>
</html>
